.why {
    margin-top: 51px;
    margin-bottom: 55.64px;
}

.firstLine {
    width: 524px;
    height: 96px;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #000000;
    text-align: center;
    margin: 0 auto 51px;

}

.secondLine {
    margin: 0 40px ;
    display: flex;
    justify-content: space-between;
}

.onecontent {
    display: flex;
    position: relative;
    margin-left: 6px;
    margin-bottom: 31px;
}

.heading {
    margin-left: 18.79px;
    width: 358px;
    height: 39px;
    font-weight: 800;
    font-size: 22px;
    line-height: 33px;
    color: #000000;
}

.para {
    width:501px;
height: 92px;
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #000000;
margin-left: 18.79px;
}

.diamond {
    position: absolute;
    top: 9px;
}

.parent {
    margin-left: 5px;
}

.left {
    padding-top:  23px;
}
.why2 {
    padding: 0 26px 0 39px;
    width: 1440px;
height: 683px;
background: #E8F4FF;

}
.why2firstline {
    display: flex;
    position: relative;
}

.leftfirstline{
    width: 729px;
    height: fit-content;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    color: #7ABBF7;
}

.leftfirstline p{
    width: 672px;
    margin: 72px 0 0;
}

.rightfirstline {
    position: absolute;
    width: 614px;
    height: 90px;
    right: 36px;
    top: 69px;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

.why2secondline {
    margin-top: 100px;
}